<!DOCTYPE html>
<html ng-app="aitu-project">
<head>
    <meta charset="utf-8" />
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="ProductCtrl">
<div ng-if="!customer" style="display: grid; grid-template-columns: 1fr 1fr">
<form ng-submit="signIn(account)" method="POST">
    <p>Authorization Form</p>
    <div class="container">
        <b>Login</b>
        <input type="text" placeholder="Your login" name="login" required ng-model="account.login">
        <b>Password</b>
        <input type="password" placeholder="Your password" name="password" required ng-model="account.password">
    </div>
    <button type="submit" class="btn btn-warning center">Sign In</button>
</form>

<form ng-submit="register(acc)" method="POST">
    <p>Registration Form</p>
    <div class="container">
        <b>Login</b>
        <input type="text" placeholder="Your login" name="log" required ng-model="acc.login"><br>
        <b>OrganizationName</b>
        <input type="text" placeholder="Your organization name" name="organizationName" required ng-model="acc.organizationName"><br>
        <b>Email</b>
        <input type="email" placeholder="Your email address" name="email" required ng-model="acc.email"><br>
        <b>Cuntact Number</b>
        <input type="text" placeholder="Your contact number" name="contactNumber" required ng-model="acc.contactNumber"><br>
        <b>Address</b>
        <input type="text" placeholder="Your address" name="address" required ng-model="acc.address"><br>
        <b>Password</b>
        <input type="password" placeholder="Your password" name="pass" required ng-model="acc.password"><br>
    </div>
    <button type="submit" class="btn btn-warning center">Register</button>
</form>
</div>

<div class="row">
    <div class="col-lg-12">
        <label>{{customerMessage}}</label>
        <label>{{customer.organizationName}}</label>
    </div>
</div>

<button ng-if="customer" ng-click="signOut()" class="btn btn-danger" >Sign Out</button>

<div class="container">

    <div class="row">
        <div class="col-log-12">
            <div id="options" class="m-b-10">
                <span class="gallery-option-set" id="filter" data-option-key="filter">
                    <a class="btn btn-default btn-xs active" ng-repeat="category in categoryList" ng-click="getProductsByCategory(category.categoryId)">{{category.categoryName}}</a>
                </span>
            </div>
        </div>
    </div>


    <h3>Product List</h3>
    <div class="row">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th></th>
            <th>Model Name</th>
            <th>Serial Number</th>
            <th>Factory Name</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Date</th>
            </thead>
            <tr ng-repeat="product in productList" >
                <td ng-if="product.quantity > 0" ng-click="addProduct(product)"><button class="btn btn-danger btn-md">ADD</button></td>
                <td ng-if="product.quantity == 0"></td>
                <td ng-bind="product.model.modelName"></td>
                <td ng-bind="product.model.serialNumber"></td>
                <td ng-bind="product.factory.factoryName"></td>
                <td ng-bind="product.productName"></td>
                <td ng-bind="product.productDescription"></td>
                <td ng-bind="product.price"></td>
                <td ng-if="product.quantity > 0" ng-bind="product.quantity"></td>
                <td ng-if="product.quantity <= 0">На складе 0 количество этого продукта. Вы не можете заказать этот продукт в данный момент</td>
                <td ng-bind="product.creationDate"></td>
            </tr>

        </table>
        <p>{{messageQuantity}}</p>
        <br><br>

        <div class="row">
            <div class="col-lg-12">
                <label>На вашем аккаунте </label>
                <label>{{customer.discount}}</label>
                <label>% скидка</label>
            </div>
        </div>

        <b>Your Bin</b>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
            </thead>
            <tr ng-repeat="product in detailedOrderProductList">
                <td ng-click="removeProduct(product)"><button class="btn btn-danger btn-md">REMOVE</button></td>
                <td ng-bind="product.name"></td>
                <td ng-bind="product.description"></td>
                <td ng-bind="product.price"></td>
                <td ng-bind="product.quantity"></td>
                <td ng-click="minusOneQuantity(product)"><button class="btn btn-danger btn-md">REDUCE FOR ONE</button></td>
            </tr>
            <tr ng-bind="totalPrice"></tr>
            <tr ng-bind="discountPrice"></tr>
        </table>
        <button ng-click="CountTotalPrice()" type="button" class="btn btn-primary">Count total price</button>
        <button ng-click="SendOrderByCourier()" type="button" class="btn btn-warning">Send Order "By Courier"</button>
        <button ng-click="SendOrderByPickUp()" type="button" class="btn btn-warning">Send Order "PickUp"</button>
        <label>{{messageOrder}}</label>
    </div>


    <div ng-if="customer" >
        <br><br><br>
        <h4>All My Orders</h4>
        <div>
            <div  ng-repeat="order in customerOrderOfCustomer">
                <div style="display: grid; grid-template-columns: 2fr 1fr">
                <div>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                <th>Name</th>
                <th>Description</th>
                </thead>

                        <tr ng-repeat="pr in order.orderProducts" ng-repeat="or in order.orderItems">
                        <td ng-bind="pr.productName"></td>
                        <td ng-bind="pr.productDescription"></td>
                        </tr>
                </table>
                </div>
                <div>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <th>Quantity</th>
                    <th>Price</th>
                    </thead>

                    <tr ng-repeat="or in order.orderItems">
                        <td ng-bind="or.quantity"></td>
                        <td ng-bind="or.price"></td>
                    </tr>
                </table>
                </div>
                </div>

                <ul>
                    <li>Date: <span ng-bind="order.date"></span></li>
                    <li>Total Price: <span ng-bind="order.totalPrice"></span></li>
                    <li>Payment Method: <span ng-bind="order.paymentMethod"></span></li>
                    <li>Status: <span ng-bind="order.status"></span></li>
                </ul>
                <br><br>
            </div>
        </div>



</div>
</body>
</html>